{% extends 'base.html' %}
{% block content %}

<ul class="breadcrumb">
  <li><a href="/settings/">settings</a></li>
  <li><a href="/settings/#users">users</a></li>
  <li class="active">Change password</li>
</ul>

<div class="container">
  <form action="/users/changepw" method="post" class="form-horizontal">
      {% csrf_token %}
      <div class="form-group">
          <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
          <div class="col-sm-10">
              {{ field }}
              {% if field.help_text %}
                  <p class="help-block"><small>{{ field.help_text }}</small></p>
              {% endif %}
          </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/settings/#users" class="btn btn-primary">Cancel</a>
      </div>
  </form>
</div>

{% endblock %}
