amqp==2.4.2
Babel==2.6.0
backports-abc==0.5
billiard==3.5.0.5
celery==4.2.1
certifi==2018.11.29
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==1.11.20
django-celery-beat==1.4.0
django-celery-results==1.0.4
django-cursor-pagination==0.1.4
django-datetime-widget==0.9.3
django-debug-toolbar==1.11
django-extensions==2.1.6
django-rest-swagger==2.2.0
django-timezone-field==3.0
djangorestframework==3.9.2
flower==0.9.2
future==0.17.1
futures==3.2.0
gunicorn==19.9.0
idna==2.8
itypes==1.1.0
Jinja2==2.10
jsonfield==2.0.2
kombu==4.4.0
libmagic==1.0
MarkupSafe==1.1.1
meld3==1.0.2
netaddr==0.7.19
openapi-codec==1.3.2
psycopg2-binary==2.7.7
python-crontab==2.3.6
python-dateutil==2.8.0
python-magic==0.4.15
python-magic-bin==0.4.14
python-memcached==1.59
pytz==2018.9
requests==2.21.0
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.12.0
sqlparse==0.2.4
supervisor==3.3.5
thehive4py==1.6.0
tornado==5.1.1
typing==3.6.6
uritemplate==3.0.0
urllib3==1.24.1
vine==1.2.0
Werkzeug==0.14.1
