/* Modal */
.modal.right .modal-dialog, .modal.left .modal-dialog {
		position: fixed;
		margin: auto;
		width: 700px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

.modal.right .modal-content, .modal.left .modal-content {
		/*height: 100%;*/
		overflow-y: auto;
	}

.modal.right .modal-body, .modal.left .modal-body {
		padding: 15px 15px 20px;
	}

.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}

.modal.right.fade.in .modal-dialog {
	right: 0;
}

.modal.left.fade .modal-dialog{
		left: -320px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}

.modal.left.fade.in .modal-dialog {
	left: 0;
}

/* Twitter Typehead */
.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100%; }

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu {
    /* width: 422px; */
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    /* font-size: 18px; */
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

/* Other */
/* .no_padding {
    padding-left: 0px;
    padding-right: 0px;
} */
input.search-input {
	float: left;
    width: auto;
    margin: 5px;
	border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
	background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
	padding: 1px 6px;
	height: 27px;
}
button.search-input-button{
	margin: 5px;
}
div.div-override{
	margin: 5px 0px;
}