{% extends 'base.html' %}
{% block content %}

<ul class="breadcrumb">
  <li><a href="/engines/list">engines</a></li>
  <li class="active">edit engine instance</li>
</ul>

<div class="container">
  <form action="/engines/edit/{{ engine_id }}" method="post" class="form-horizontal">
    <legend>Edit an engine instance</legend>
      {% csrf_token %}
      {% for field in form %}
          {% if field.errors %}
              <div class="form-group has-error">
                  <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                  <div class="col-sm-4">
                      {{ field }}
                      <span class="help-block">
                          {% for error in  field.errors %}{{ error }}{% endfor %}
                      </span>
                  </div>
              </div>
          {% elif not field.is_hidden %}
              <div class="form-group">
                  <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                  <div class="col-sm-4">
                      {{ field }}
                      {% if field.help_text %}
                          <p class="help-block"><small>{{ field.help_text }}</small></p>
                      {% endif %}
                  </div>
              </div>
          {% endif %}
      {% endfor %}
      <div class="form-group submit-div">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-warning col-sm-12">Update engine</button>
        </div>
      </div>
  </form>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
</div>

<script>
  $('#id_username').parent().parent().addClass("hidden");
  $('#id_password').parent().parent().addClass("hidden");
  $('#id_api_key').parent().parent().addClass("hidden");

  $('#id_authentication_method').change(function(e){
    if($('#id_authentication_method').val() == "HTTPBasic") {
      $('#id_username').parent().parent().removeClass("hidden");
      $('#id_password').parent().parent().removeClass("hidden");
      $('#id_api_key').parent().parent().addClass("hidden");
    } else if ($('#id_authentication_method').val() == "APIKEY") {
      $('#id_username').parent().parent().addClass("hidden");
      $('#id_password').parent().parent().addClass("hidden");
      $('#id_api_key').parent().parent().removeClass("hidden");
    } else {
      $('#id_username').parent().parent().addClass("hidden");
      $('#id_password').parent().parent().addClass("hidden");
      $('#id_api_key').parent().parent().addClass("hidden");
    }
  });
</script>

{% endblock %}
