{% extends 'base.html' %}
{% block content %}
<style>

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

.no_padding {
  padding-left: 0px;
  padding-right: 0px;
}

label.radio {
  margin-left: 20px;
}
</style>

<ul class="breadcrumb">
  <li><a href="{% url 'list_assets_view' %}">assets</a></li>
  <li class="active">add new asset group manually [<a href="{% url 'list_assets_view' %}">back</a>]</li>
</ul>

<div class="container">
  <form action="{% url 'add_asset_group_view' %}" method="post" class="form-horizontal" id="add-asset-group-form">
    <legend>Add an asset group</legend>
    {% csrf_token %}


      <!-- Title -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_name">Title</label>
      <div class="col-sm-5">
        <input id="id_name" name="name" type="text" placeholder="Enter a title..." required class="form-control"/>
      </div>
    </div>

    <!-- Description -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_description">Description</label>
      <div class="col-sm-5">
        <textarea cols="40" id="id_description" name="description" placeholder="Enter a quick description..." rows="5" class="form-control"></textarea>
      </div>
    </div>

    <!-- Criticality -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_criticity">Criticality</label>
      <div class="col-sm-5">
        <select name="criticity" class="form-control form-control-sm" id="id_criticity">
            <option value="low">low</option>
            <option value="medium">medium</option>
            <option value="high">high</option>
        </select>
      </div>
    </div>

    <!-- Teams -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_scan_team_list">Teams</label>
      <div class="col-sm-5">
        <select class="form-control form-control-sm" id="id_scan_team_list" name="scan_team_list" disabled>
          {% for team in teams_list %}
          <option value="{{team.id}}">{{team.name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <!-- Asset selection -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_assets_list">Search asset(s):</label>
      <div class="col-sm-5 has-feedback">
        <div id="scrollable-dropdown-menu">
          <input class="typeahead form-control" type="text" placeholder="Search assets" id="search-asset">
          <i class="form-control-feedback glyphicon glyphicon-search"></i>
        </div>
      </div>
    </div>

    <!-- Selected assets and asset groups -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_assets_list">Asset(s) selected:</label>
      <div class="col-sm-5">
        <div class="custom-control custom-checkbox cbx_assets">
          <!-- list of selected assets -->
        </div>
      </div>
    </div>

    <div class="form-group submit-div">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-5">
        <button type="submit" class="btn btn-warning col-sm-12">Create a new asset group</button>
      </div>
    </div>
  </form>
</div>

<div class="notifications">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>
<script>
_selected_assets = [];
  _id_asset = 1;

  _selected_team = '';
  function getTeam() {
    return _selected_team;
  }

  $(function() {
    localStorage.clear();
    var assets = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value','name','exposure','assetowner__name','categories__value'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      prefetch: "{% url 'list_only_assets_api' %}",
      ttl:0,
      remote: {
        url: "{% url 'list_only_assets_api' %}",
        replace: function(url, uriEncodedQuery) {
          return (url + "?q=" + encodeURIComponent(uriEncodedQuery) + "&team=" + getTeam())
        }
      }
    });
    $('#scrollable-dropdown-menu .typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 2
    }, {
      name: 'assets',
      display: 'value',
      limit: 500,
      source: assets.ttAdapter(),
      templates: {
        empty: function(data) {
          return '<div class="noitems"> No items found</div>';
        },
        suggestion: function(data) {
            return '<div>' + data.value + ' - '+ data.name + '</div>';
        }
      }
    }).bind("typeahead:selected", function(e, datum, name) {
      // append the asset to the list
      if (_selected_assets.indexOf(datum["value"]) == -1){
          _selected_assets.push(datum["value"]);
          _id_asset += 1;
          $('div.cbx_assets').append("<label for='id_assets_list_"+_id_asset+"' class='custom-control-label'>\
            <input id='id_assets_list_"+_id_asset+"' class='custom-control-input' name='assets' type='checkbox' value='"+datum["id"]+"' asset-type='"+datum["type"]+"'checked/> "+e.target.value+"</label><br/>");
      }
    });
      }); //End of jQuery ready
</script>
{% endblock %}
