{% extends 'base.html' %}
{% block content %}

<ul class="breadcrumb">
  <li><a href="{% url 'list_assets_view' %}">assets</a></li>
  <li class="active">add new asset group manually [<a href="{% url 'list_assets_view' %}">back</a>]</li>
</ul>

<div class="container">
  <form action="{% url 'add_asset_group_view' %}" method="post" class="form-horizontal" id="add-asset-group-form">
    <legend>Add an asset group</legend>
    {% csrf_token %}


      <!-- Title -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_name">Title</label>
      <div class="col-sm-5">
        <input id="id_name" name="name" type="text" placeholder="Enter a title..." required class="form-control"/>
      </div>
    </div>

    <!-- Description -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_description">Description</label>
      <div class="col-sm-5">
        <textarea cols="40" id="id_description" name="description" placeholder="Enter a quick description..." rows="5" class="form-control"></textarea>
      </div>
    </div>

      <!-- Criticity -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_criticity">Criticity</label>
      <div class="col-sm-4">
        <select name="criticity" class="form-control form-control-sm" id="id_criticity">
  <option value="low">low</option>

  <option value="medium">medium</option>

  <option value="high">high</option>

</select>
      </div>
    </div>

<!--
    <div class="form-group">
                <label class="col-sm-2 control-label" for="id_categories">Categories</label>
                <div class="col-sm-4">
                  <select name="categories" class="form-control form-control-sm" size="4" required="" id="id_categories" multiple="">
  <option value="36">testtag</option>

  <option value="1">All</option>

  <option value="2">Operating systems</option>

  <option value="3">Windows</option>

  <option value="26">Windows XP</option>

  <option value="27">Windows Vista</option>

  <option value="4">Windows 7</option>

  <option value="30">Windows 10</option>

  <option value="31">Windows Server</option>

  <option value="5">Windows Server 2003</option>

  <option value="6">Windows Server 2008</option>

  <option value="7">Windows Server 2008 R2</option>

  <option value="8">Windows Server 2012</option>

  <option value="9">Windows Server 2012 R2</option>

  <option value="10">Windows Server 2016</option>

  <option value="11">Unix/Linux</option>

  <option value="28">Debian</option>

  <option value="29">Debian 8 (jessie)</option>

  <option value="12">Red Hat Enterprise Linux</option>

  <option value="13">RHEL 2.1</option>

  <option value="14">RHEL 3</option>

  <option value="15">RHEL 4</option>

  <option value="16">RHEL 5</option>

  <option value="17">RHEL 6</option>

  <option value="18">RHEL 7</option>

  <option value="19">RHEL 7.1</option>

  <option value="20">RHEL 7.2</option>

  <option value="21">RHEL 7.3</option>

  <option value="22">AIX</option>

  <option value="23">Solaris</option>

  <option value="24">HP-UX</option>

  <option value="32">Network</option>

  <option value="33">Internal Network</option>

  <option value="34">External Network</option>

  <option value="35">DMZ</option>

  <option value="25">Custom</option>

</select>

                </div>
              </div>

    <div class="form-group">
                <label class="col-sm-2 control-label" for="id_exposure">Exposure</label>
                <div class="col-sm-4">
                  <select name="exposure" class="form-control form-control-sm" id="id_exposure">
  <option value="unknown">Unknown</option>

  <option value="external">External</option>

  <option value="internal">Internal</option>

  <option value="restricted">Restricted</option>

</select>

                </div>
              </div>

-->
    <!-- Asset selection -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_assets_list">Search asset(s):</label>
      <div class="col-sm-5 has-feedback">
        <div id="scrollable-dropdown-menu">
          <input class="typeahead form-control" type="text" placeholder="Search assets">
          <i class="form-control-feedback glyphicon glyphicon-search"></i>
        </div>
      </div>
    </div>

    <!-- Selected assets and asset groups -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_assets_list">Asset(s) selected:</label>
      <div class="col-sm-5">
        <div class="custom-control custom-checkbox cbx_assets">
          <!-- list of selected assets -->
        </div>
      </div>
    </div>




    <div class="form-group submit-div">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-warning col-sm-12">Create a new asset group</button>
      </div>
    </div>
  </form>
</div>

<div class="notifications">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>
<script>
_selected_assets = [];
  _id_asset = 1;

  _selected_team = '';
  function getTeam() {
    return _selected_team;
  }

  $(function() {

    // Ensure no group definition are set without assets
    $("#add-asset-group-form").submit(function () {
      is_valid = $('div.cbx_assets label input:checked').length > 0;
      if (is_valid == false) {
        // $("#edit-scan-def-form").append('\
        $("#add-asset-group-form button:submit").before('\
        <div class="alert alert-dismissible alert-danger">\
          <button type="button" class="close" data-dismiss="alert">&times;</button>\
          <strong>No assets selected</strong> Please select at least one asset to add.\
        </div>');
      }

      if (is_valid == false) {
        $("#add-asset-group-form button:submit").before('\
        <div class="alert alert-dismissible alert-danger">\
          <button type="button" class="close" data-dismiss="alert">&times;</button>\
          <strong>Bad policy</strong> Selected policy does not support selected asset types.\
        </div>');
      }
      return is_valid;
    });
    localStorage.clear();
    var assets = new Bloodhound({
      // datumTokenizer: Bloodhound.tokenizers.obj.whitespace,
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value','name','exposure','categories__value','assetowner__name'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      prefetch: "{% url 'list_assets_api' %}",
      ttl:0,
      remote: {
        url: "{% url 'list_assets_api' %}",
        replace: function(url, uriEncodedQuery) {
          return (url + "?q=" + encodeURIComponent(uriEncodedQuery) + "&team=" + getTeam())
        }
      }
    });
    $('#scrollable-dropdown-menu .typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 2
    }, {
      name: 'assets',
      display: 'value',
      //limit: 5,
      source: assets.ttAdapter(),
      templates: {
        empty: function(data) {
          return '<div class="noitems"> No items found</div>';
        },
        suggestion: function(data) {
          if (data.format == "asset"){
            return '<div>' + data.value + ' - '+ data.name + '</div>';
          } else {
            return '<div> [Group] ' + data.value + ' - '+ data.name + '</div>';
          }
        }
      }
    }).bind("typeahead:selected", function(e, datum, name) {
      // append the asset to the list
      if (_selected_assets.indexOf(datum["value"]) == -1){
        if (datum["format"] == "asset") {
          _selected_assets.push(datum["value"]);
          _id_asset += 1;
          $('div.cbx_assets').append("<label for='id_assets_list_"+_id_asset+"' class='custom-control-label'>\
            <input id='id_assets_list_"+_id_asset+"' class='custom-control-input' name='assets' type='checkbox' value='"+datum["id"]+"' asset-type='"+datum["type"]+"'checked/> "+e.target.value+"</label><br/>");
        } else {
          _selected_assets.push(datum["value"]);
          _id_asset += 1;
          $('div.cbx_assets').append("<label for='id_assetgroups_list_"+_id_asset+"' class='custom-control-label'>\
            <input id='id_assetgroups_list_"+_id_asset+"' class='custom-control-input' name='assetgroups_list' type='checkbox' value='"+datum["id"]+"' checked/> "+e.target.value+" (group)</label><br/>");
        }
      }
    });
      }); //End of jQuery ready
</script>
{% endblock %}
