{% extends 'base.html' %}
{% block content %}

<div class="container">
  <form action="/assets/delete/{{ asset.id }}" method="post" class="form-horizontal">

    <legend>Do you confirm the deletion?</legend>
    {% csrf_token %}
    <p>Asset ID: {{ asset.id }}</p>
    <p>Addr: {{ asset.value }}</p>
    <div class="form-group">
      <button type="submit" class="btn btn-warning">Delete</button>
      <button class="btn btn-primary"><a href="{% url 'list_assets_view' %}">Cancel</a></button>
    </div>
  </form>


  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
</div>

{% endblock %}
