{% extends 'base.html' %}
{% block content %}
<style>

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

.no_padding {
  padding-left: 0px;
  padding-right: 0px;
}

label.radio {
  margin-left: 20px;
}
</style>

<div class="container">
  <form action="/assets/groups/edit/{{ assetgroup_id }}" method="post" class="form-horizontal">
    <legend>Edit an asset group</legend>
    {% csrf_token %}
     <!-- Title -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_name">Title</label>
      <div class="col-sm-5">
        <input id="id_name" name="name" type="text" placeholder="Enter a title..." required class="form-control" value="{{asset_group.name}}"/>
      </div>
    </div>

    <!-- Description -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_description">Description</label>
      <div class="col-sm-5">
        <textarea cols="40" id="id_description" name="description" placeholder="Enter a quick description..." rows="5" class="form-control">{{asset_group.description}}</textarea>
      </div>
    </div>

    <!-- Criticality -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_criticity">Criticality</label>
      <div class="col-sm-5">
        <select name="criticity" class="form-control form-control-sm" id="id_criticity">
          <option value="low">low</option>
          <option value="medium">medium</option>
          <option value="high">high</option>
        </select>
      </div>
    </div>

    <!-- Teams -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_team_list">Teams</label>
      <div class="col-sm-5">
        <select class="form-control form-control-sm" id="id_scan_team_list" name="scan_team_list" disabled>
          {% for team in teams_list %}
          <option value="{{team.id}}">{{team.name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <!-- Asset selection -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_assets_list">Search asset(s):</label>
      <div class="col-sm-5 has-feedback">
        <div id="scrollable-dropdown-menu">
          <input class="typeahead form-control" type="text" placeholder="Search assets">
          <i class="form-control-feedback glyphicon glyphicon-search"></i>
        </div>
      </div>
    </div>

    <!-- Selected assets and asset groups -->
    <div class="form-group">
      <label class="col-sm-2 control-label" for="id_assets_list">Asset(s) selected:</label>
      <div class="col-sm-5">
        <div class="custom-control custom-checkbox cbx_assets">
          <!-- list of selected assets -->
        </div>
      </div>
    </div>

    <div class="form-group submit-div">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-warning col-sm-12 form-control-sm">Modify the asset group</button>
        <br/>
        <br/>
        <button class="btn btn-danger col-sm-12 form-control-sm" type="button" data-toggle="modal" data-target="#modal-delete-asset-group"
          asset-group-id="{{ asset_group.id }}" asset-group-value="{{ asset_group.name }}">Delete</button>
      </div>
    </div>
  </form>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
</div>

<!-- Delete Asset Group modal -->
<div class="modal fade" id="modal-delete-asset-group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Delete Asset Group</h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div id="delete-asset-group">
          <!-- Content -->
        </div>
        Confirm Deleting?
        <button type="button" class="btn btn-xs btn-danger btn-delete-asset-group" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-xs btn-primary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<script>
  _selected_assets = [];
  _id_asset = 1;

  _selected_team = '';
  function getTeam() {
    return _selected_team;
  }
$(function() {

  // - Asset selected
  {% for asset in asset_group.assets.all %}
    _selected_assets.push("{{ asset.id }}");
    _id_asset += 1;
    $('div.cbx_assets').append("<label for='id_assets_list_"+_id_asset+"' class='custom-control-label'>\
      <input id='id_assets_list_"+_id_asset+"' class='custom-control-input' name='assets' type='checkbox' value='{{ asset.id }}' asset-type='{{asset.type}}' checked/> {{ asset.value }}</label><br/>");
  {% endfor %}

    localStorage.clear();
    var assets = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value','name','exposure','categories__value','assetowner__name'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      prefetch: "{% url 'list_only_assets_api' %}",
      ttl:0,
      remote: {
        url: "{% url 'list_only_assets_api' %}",
        replace: function(url, uriEncodedQuery) {
          return (url + "?q=" + encodeURIComponent(uriEncodedQuery) + "&team=" + getTeam())
        }
      }
    });
    $('#scrollable-dropdown-menu .typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 2
    }, {
      name: 'assets',
      display: 'value',
      //limit: 5,
      source: assets.ttAdapter(),
      templates: {
        empty: function(data) {
          return '<div class="noitems"> No items found</div>';
        },
        suggestion: function(data) {
            return '<div>' + data.value + ' - '+ data.name + '</div>';
        }
      }
    }).bind("typeahead:selected", function(e, datum, name) {
      // append the asset to the list
      if (_selected_assets.indexOf(datum["value"]) == -1){
          _selected_assets.push(datum["value"]);
          _id_asset += 1;
          $('div.cbx_assets').append("<label for='id_assets_list_"+_id_asset+"' class='custom-control-label'>\
            <input id='id_assets_list_"+_id_asset+"' class='custom-control-input' name='assets' type='checkbox' value='"+datum["id"]+"' asset-type='"+datum["type"]+"'checked/> "+e.target.value+"</label><br/>");
      }
    });



  // Delete asset group modal
  $("#modal-delete-asset-group").on('show.bs.modal', function (e) {
    id = e.relatedTarget.getAttribute('asset-group-id');
    asset_group_value = e.relatedTarget.getAttribute('asset-group-value');
    $("div#delete-asset-group").attr('asset-group-id', id);
    $("div#delete-asset-group").html("Asset Group Name: <strong>"+asset_group_value+"</strong><br/><br/>");
  });
  $("button.btn-delete-asset-group").on('click', function (e) {
    id = $("div#delete-asset-group").attr('asset-group-id');
    delete_asset_group_url = "/assets/deletegroup/"+id;
    var request = $.ajax({
      url: delete_asset_group_url,
      method: "POST",
      headers: {"X-CSRFToken": "{{ csrf_token }}"},
      success: function(){
        window.location = "{% url 'list_assets_view' %}";
      }
    });
  });
});

</script>

{% endblock %}
