{% extends 'base.html' %}
{% block content %}

<div class="container">
  <form action="/scans/campaigns/edit/{{ scan_campaign_id }}" method="post" class="form-horizontal">
    <legend>Edit a scan definition</legend>
      {% csrf_token %}
      {% for field in form %}
          {% if field.errors %}
              <div class="form-group has-error">
                  <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                  <div class="col-sm-10">
                      {{ field }}
                      <span class="help-block">
                          {% for error in field.errors %}{{ error }}{% endfor %}
                      </span>
                  </div>
              </div>
          {% elif not field.is_hidden %}
              <div class="form-group">
                  <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                  <div class="col-sm-10">
                      {{ field }}
                      {% if field.help_text %}
                          <p class="help-block"><small>{{ field.help_text }}</small></p>
                      {% endif %}
                  </div>
              </div>
          {% endif %}
      {% endfor %}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button class="btn btn-primary"><a href="/scans/campaigns/list">Cancel</a></button>
    </div>
  </form>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
</div>

{% endblock %}
